.lazierContainer {
    position: relative;
    width: 100%;
    height: 100%;
}
.lazierContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.lazierContainer canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
.lazierLowFy {
    display: none;
}
.lazierLowFy.loaded {
    display: block;
}
.lazierRender {
    display: none;
}
.lazierRender.loaded {
    display: block;
}